{% extends 'base_account.html' %}
{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %}


تعديل كلمة المرور الخطوة الأخيرة

{% endblock %}


{% block header_page %}	    
    <div id="header-page" class="white shadow relative">
        <div id="left-header" class="left full">
           <div class="box15">
               <img class="middle opacity-60" src="{% static 'images/account.png' %}" /> &nbsp;
               تعديل كلمة المرور الخطوة الأخيرة
           </div>

        </div>
        <div id="right-header" class="right">

        </div>
        <div class="clr"></div>
    </div>
{% endblock %}

{% block header %}
{% endblock %}
{% block body %}


<div class="center-auto top60">
    <div id="container-confirmation" class="relative white shadow center-auto" data-type="v">
        <div class="box30 align-center">
           <div class="align-center top30"><img src="{% static 'images/success.png' %}" alt="Success" /></div>
            <h1 class="light bottom30 top15 green-color">
                    شكرا,
                
                 </h1>
            <div class="box-container center-auto">
                <h2 class="sub-title">
                    التحقق من عنوان بريدك الإلكتروني لتأكيد كلمة المرور الخاصة بك
                   
                     
                </h2>
                
                <div class="top60 align-center bottom60">
                   {% comment %}
                    <a type="button" href="/" class="btn rouge rouge-shadow back-slide" >الصفحة الرئيسية</a>
                    {% endcomment %}
                    <a type="button" href="/accounts/login-profil/" class="btn bleu bleu-shadow next-slide" >
                            تسجيل الدخول إلى حسابك
                    
                    </a> 
                </div>
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}