{% extends 'base_account.html' %}
{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %}

نسيت كلمة المرور

{% endblock %}

{% block header %}
    {% include 'include/header_user.html' %}
{% endblock %}


{% block title-page %}نسيت كلمة المرور{% endblock %}

{% block body %}
      
      
<div class=" center-auto top40">
    <div id="container-form" class="relative white border center-auto" data-type="h">
       <div id="left-form" class="full-width">
           <div class="box30 theme-default">
                <h1 class="light bottom30">
                    
                     ضياع كلمة المرور
                
                </h1>
                
                
                <form id="form-company" class="form-slider" action="{{ request.get_full_path }}" method="post">
                  {% csrf_token %}
                   <div class="slider-form-container relative">
                        <div class="">
                            <div class="inputs">
                               {% if message %}
                                   <div class="notice">{{message}}</div>
                                {% endif %}
                                <p class="{% if form.errors.email %}error-p{% endif %}">
                                    <label class="block bottom5">
                                        
                                        البريد الإلكتروني
                                        
                                    </label>
                                    <input type="text" name="email" placeholder="example : example@example.com" class="required ltr {% if form.errors.email %}error{% endif %}" value="{{form.first_name.value|default_if_none:''}}" data-rule="email" />
                                    {% if form.errors.email %}
                                        <span class="message-error-input"><span class="inline-block">{{form.errors.email|striptags}}</span></span>
                                    {% endif %}
                                </p>
                                <p class="font12"> <span class="asterix">*</span><span class="fade"> : 
                                    
                                    الحقول الإلزامية
                                    
                                    </span></p>
                                <div class="top30 align-center bottom30">
                                    <input type="button" value='أرسل' class="border-green finish-slide" data-index="1" />
                                </div>
                            </div>
                        </div><!-- slide-form -->
                        <div class="clr"></div>

                    </div><!-- slider-form-container -->
               </form>
           </div><!-- box30 -->
        </div><!-- left-form -->
        <div class="clr"></div>
    </div><!-- container-form -->
</div> 
{% endblock %}

{% block js %}
    <script src="{% static 'backend/js/components/dist/common/form_mini.js' %}"></script>
{% endblock %}


{% block extra_js %}

{% endblock %}