{% extends 'base.html' %}
{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %}

إعادة تعيين كلمة المرور

{% endblock %}


{% block header %}
{% endblock %}
{% block header_page %}	    
    <div id="header-page" class="white shadow relative">
        <div id="left-header" class="left">
           <div class="box15">
               <img class="middle opacity-60" src="{% static 'images/account.png' %}" /> &nbsp;
                   إعادة تعيين كلمة المرور
           </div>

        </div>
        <div id="right-header" class="right">

        </div>
        <div class="clr"></div>
    </div>
{% endblock %}
{% block body %}
  
  
  <div class="box-one-column-one center-auto top60">
    <div id="container-form" class="relative white shadow" data-type="v">
       <div id="left-form" class="left">
           <div class="box30 theme-default">
                <h1 class="light bottom30">
                    إعادة تعيين كلمة المرور
                </h1>
                
                
                <form id="form-company" class="form-slider" action="/{{LANGUAGE_CODE}}/accounts/password-profil/{{token}}/" method="post">
                  {% csrf_token %}
                   <div class="slider-form-container relative">
                        <div class="slide-form">
                            <div class="inputs">
                               {% if message and type == "error" %}
                                   <div class="errors-message box20 align-center font18 bottom20">{{message}}</div>
                                {% endif %}

                                {% if message and type == "success" %}
                                   <div class="success-message box20 align-center font18 bottom20">{{message}}</div>
                                {% endif %}
                                <p class="{% if form.errors.password %}error-p{% endif %}">
                                    <label class="block bottom5">
                                        
                                        كلمة المرور الجديدة
                                        
                                        </label>
                                    <input type="password" name="password" placeholder='يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل' class="required ltr {% if form.errors.password %}error{% endif %}" value="{{form.password.value|default_if_none:''}}" data-rule="string" />
                                    {% if form.errors.password %}
                                        <span class="message-error-input"><span class="inline-block">{{form.errors.password|striptags}}</span></span>
                                    {% endif %}
                                </p>
                                <p class="{% if form.errors.confirm_password %}error-p{% endif %}">
                                    <label class="block bottom5">
                                            تأكيد كلمة المرور
                                    
                                    
                                    </label>
                                    <input type="password" name="confirm_password" placeholder='يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل'  class="required ltr {% if form.errors.confirm_password %}error{% endif %}" value="{{form.confirm_password.value|default_if_none:''}}" data-rule="string" />
                                    {% if form.errors.confirm_password %}
                                        <span class="message-error-input"><span class="inline-block">{{form.errors.confirm_password|striptags}}</span></span>
                                    {% endif %}
                                </p>
                                <p class="font12"> <span class="asterix">*</span><span class="fade"> : 
                                        الحقول الإلزامية
                                    
                                    </span></p>
                                <div class="top60 align-center">
                                    <input type="button" value='إعادة تعيين كلمة المرور' class="rouge rouge-shadow finish-slide" data-index="1" />
                                </div>
                            </div>
                        </div><!-- slide-form -->
                        <div class="clr"></div>

                    </div><!-- slider-form-container -->
               </form>
           </div><!-- box30 -->
        </div><!-- left-form -->

       <div id="right-form" class="right">
            <div id="slider-right-side" class="relative align-center">
                <div class="slide-side">
                    <div class="circle-step step-icon center-auto"><img src="{% static 'images/icons/profil.png' %}" alt="Admin" /></div>
                    <h2 class="light white-color">
                          أدخل كلمة المرور الجديدة
                        
                        </h2>
                    <div class="top30 cont-btn-login center-auto align-center">
                       <a href="/accounts/login-profil/" class="btn black bleu-shadow">
                           
                           
                        تسجيل الدخول
                           </a>
                       {% comment %}
                           <span class="block top10 bottom10">أو</span>
                           <a href="/accounts/create-company/" class="btn gris-btn shadow bleu-color">إنشاء حساب مستخدم</a>
                       {% endcomment %}
                   </div>
                </div>
                <div class="clr"></div>
            </div>
        </div><!-- right-form -->
        <div class="clr"></div>
    </div><!-- container-form -->
</div> 



{% endblock %}


{% block extra_js %}

<script>var display_step = 0;</script>
<script src="{% static 'js/app/components/dist/accounts/index.js' %}"></script>

{% endblock %}