{% extends "base_email.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
    


{% block header %}
    {% include "include_email/header_email.html" with header_text_1="رسالة إلكترونية لإعادة تعيين كلمة المرور الخاصة بك" header_text_2="خطوة ضرورية لأمان حسابك" %}
{% endblock %}


{% block img_header %}
    <img src="http://recto-post.com/static/images/emails/password.png" />
{% endblock %}

{% block content %}
                    
    {% include "include_email/content_confirmation_password.html" %}

    {% include "include_email/content_email.html" with content="تم تغيير كلمة المرور الخاصة بك بنجاح. يُرجى النقر فوق الزر أعلاه لتسجيل الدخول مرة أخرى على منصة ريكتو بوست" url_btn=url_redirection img_btn="https://recto-post.com/static/images/emails/btn_login.png" %}

{% endblock %}