
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}


<head>
     <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<div align="center" style="background : #f2f2f2;">
   
    <table width="600" cellpadding="0" cellspacing="0" border="0" style="">
        <tr>
            <td valign="top" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style="font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 10px; color : #adadad; text-align: center;">
               {% if LANGUAGE_CODE == "fr" %}
                   Cliquer sur Afficher les images pour une meilleure expérience
                {% else %}
                   {% trans "Click on show images for a better experience" %}
                {% endif %}
        
            </td>
        </tr>
        <tr>
            <td valign="top" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top">
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="background : #fff;">
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540">
                            <a href="#"><img src="http://localhost:8004/static/images/emails/new_design/logo.png" /></a>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    
                    
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540">
                            <a href="#"><img src="http://localhost:8004/static/images/emails/new_design/image_email.png" /></a>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540">
                            <span style="font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 24px; color : #061c38;">
                                   Email de Confirmation

                            </span><br />
                            <span style="font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 14px; color : #b9bbc0;">
                                   Terminer votre inscription

                            </span>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 16px; line-height: 26px; color : #b9bbc0;">


                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ligula 
                            pellentesque, aliquam leo vel, lacinia ipsum. Nulla iaculis ut ante quis semper. 
                            Mauris placerat pretium ipsum nec viverra. Cras id nulla nulla. Nam mi nunc, 
                            ornare et consectetur at, venenatis nec ante. Pellentesque scelerisque vulputate 
                            pellentesque. Vestibulum mattis sed arcu a elementum. 

                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540">
                            <a href="https://app.enova-conversion.com/account/verify-profil/{{token}}/" target="_blank"><img src="http://localhost:8004/static/images/emails/new_design/bouton_confirme_fr.png" /></a>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                     <tr>
                        <td valign="top" width="30" style="font-size:0%; border:none; line-height:0;" >&nbsp;</td>
                        <td valign="top" width="540" style="background: #107afe;">
                            
                            <table width="540" cellspaceing="0" cellpadding="0" border="0" style="background : #107afe;">
                                <tr>
                                    <td width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                                    <td width="480" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                                    <td width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                                </tr>
                                
                                <tr>
                                    <td width="30" style="">&nbsp;</td>
                                    <td width="480" style="background : #fff; text-align: center; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 18px; line-height: 26px; color : ##061c38;">
                                            <br />
                                            Login : <span style="font-weight: bold;">{{email_send}}</span><br /><br />
                                            Password : <span style="font-weight: bold;">{{uid}}</span><br /><br />
                                    
                                    </td>
                                    <td width="30" style="">&nbsp;</td>
                                </tr>
                                
                                <tr>
                                    <td width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                                    <td width="480" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                                    <td width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                                </tr>
                            
                            </table>		
                         
                         </td>
                        <td valign="top" width="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    <tr>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;" >&nbsp;</td>
                        <td valign="top" width="540" height="1" style="background: #e5e5e5;"></td>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540">
                            <span style="font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 24px; color : #061c38;">
                                  Vous avez des Questions ?

                            </span>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 16px; line-height: 26px; color : #b9bbc0;">

                              Si vous avez des questions n'hésitez pas de nous contacter sur cette adresse email : 


                            <a href="mailto:contact@support.com" target="_blank" style="color : #107afe; text-decoration: underline;">contact@support.com</a>


                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    
                    <tr>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;" >&nbsp;</td>
                        <td valign="top" width="540" height="1" style="background: #e5e5e5;"></td>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540">

                            <table width="540" cellpadding="0" cellspacing="0" border="0" style="background : #fff;">
                                <tr>
                                    <td width="54">
                                        <img src="http://localhost:8004/static/images/emails/new_design/avatar.png" />
                                    </td>
                                    <td width="15"></td>
                                    <td width="471">
                                        <span style="color : #061c38; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 16px; line-height: 26px;">Said bensamdi</span><br />
                                        <span style="color : #b9bbc0; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 16px; line-height: 26px;" >CTO at Renova Technology </span>
                                    </td>
                                </tr>

                            </table>



                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 16px; line-height: 26px; color : #b9bbc0;">


                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ligula 
                            pellentesque, aliquam leo vel, lacinia ipsum. Nulla iaculis ut ante quis semper. 
                            Mauris placerat pretium ipsum nec viverra. Cras id nulla nulla. Nam mi nunc, 
                            ornare et consectetur at, venenatis nec ante. Pellentesque scelerisque vulputate 
                            pellentesque. Vestibulum mattis sed arcu a elementum. 

                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;" >&nbsp;</td>
                        <td valign="top" width="540" height="1" style="background: #e5e5e5;"></td>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540">
                            <table width="540" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td width="108" style="text-align: center;">
                                        <a href="#" style="color : #b9bbc0; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 14px;">
                                              Accueil
                                        </a>
                                    </td>
                                    <td width="108" style="text-align: center;">
                                        <a href="#" style="color : #b9bbc0; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 14px;">
                                              Contactez-nous
                                        </a>
                                    </td>
                                    <td width="108" style="text-align: center;">
                                        <a href="#" style="color : #b9bbc0; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 14px;">
                                              Support Client
                                        </a>
                                    </td>
                                    <td width="108" style="text-align: center;">
                                        <a href="#" style="color : #b9bbc0; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 14px;">
                                              Conditions d'utilisation
                                        </a>
                                    </td>
                                    <td width="108" style="text-align: center;">
                                        <a href="#" style="color : #b9bbc0; font-family : 'Lato', 'Arial', 'Helvetica', 'sans-serif'; font-size: 14px;">
                                              Politique de confidentialité
                                        </a>
                                    </td>

                                </tr>

                            </table>

                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                
                </table>
            
            </td>
        </tr>
        
        <tr>
            <td valign="top" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        
    </table>
</div>