{% extends "base_email.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}




{% block header %}
    {% include "include_email/header_email.html" with header_text_1="تأكيد البريد الإلكتروني لإعادة تعيين كلمة المرور" header_text_2="إنهاء التحقق من حسابك" %}
{% endblock %}


{% block img_header %}
    <img src="http://recto-post.com/static/images/emails/password.png" />
{% endblock %}

{% block content %}
                    

    {% include "include_email/content_email.html" with content="تأكد من عنوان بريدك الإلكتروني لتتمكن من إعادة تعيين كلمة المرور الخاصة بك" url_btn=url_redirection img_btn="https://recto-post.com/static/images/emails/bouton_confirm.png" %}

{% endblock %}

