<head>
     <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap" rel="stylesheet"> 
</head>
<div align="center" style="background : #f2f2f2;">
   
    <table width="600" cellpadding="0" cellspacing="0" border="0" style="">
        <tr>
            <td valign="top" height="15" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style="font-family : 'Cairo', 'sans-serif'; font-size: 10px; color : #adadad; text-align: center;">
               انقر على عرض الصور للحصول على تجربة أفضل
            </td>
        </tr>
        <tr>
            <td valign="top" height="15" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top">
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="background : #fff;">
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0; background : #2f2b9a;">&nbsp;</td>
                        <td valign="middle" width="540" height="70" style="font-size:0%; border:none; line-height:0; background : #2f2b9a; direction : rtl;">
                            <a href="/"><img src="emails/logo.png" /></a>
                        
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0; background : #2f2b9a;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="90" style="font-size:0%; border:none; line-height:0;  background : #2f2b9a;">&nbsp;</td>
                        <td valign="top" width="540" style="direction : rtl; font-family : 'Cairo', 'sans-serif'; font-size: 20px; line-height: 35px;  background : #2f2b9a; color: #fff; text-align: center;">
                            <span style="font-weight: 700;">السلام عليكم و مرحبا بكم</span>
                            
                            
                            <br />
                            
                            السيد سعيد بنصامدي
                        </td>
                        <td valign="top" width="30" height="90" style="font-size:0%; border:none; line-height:0;  background : #2f2b9a;">&nbsp;</td>
                    </tr>
                    
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    <tr>
                        <td valign="top" width="30" height="85" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="middle" width="540" height="85" style="font-size:0%; border:none; line-height:0; text-align: center;">
                            <img src="emails/profil.png" />
                        
                        </td>
                        <td valign="top" width="30" height="85" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="direction: rtl;">
                            <span style="font-family : 'Cairo', 'sans-serif'; font-size: 24px; color : #2f2b9a; font-weight: 700; ">
                                   تأكيد البريد الإلكتروني

                            </span><br />
                            <span style="font-family : 'Cairo', 'sans-serif'; font-size: 14px; color : #b9bbc0;">
                                   أكمل تسجيلك

                            </span>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="font-family : 'Cairo', 'sans-serif'; font-size: 17px; line-height: 30px; color : #2f2b9a; direction: rtl;">


                            لقد استلمت هذه الرسالة الإلكترونية لإعلامك بأن حسابك
                             نشط وفعال يمكنك تسجيل الدخول والوصول إلى مساحة
                             العمل لإدارة المحتوى الخاص بك

                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="text-align: center;">
                            <a href="https://DOMAIN/account/verify-profil/{{token}}/" target="_blank">
                                <img src="emails/btn_login.png" /></a>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    
                    
                    <tr>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;" >&nbsp;</td>
                        <td valign="top" width="540" height="1" style="background: #e5e5e5;"></td>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="direction: rtl;">
                            <span style="font-family : 'Cairo', 'sans-serif'; font-size: 24px; color : #2f2b9a; font-weight: 700;">
                                  هل لديكم أي أسئلة ؟

                            </span>
                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="font-family : 'Cairo', 'sans-serif'; font-size: 17px; line-height: 26px; color : #b9bbc0; direction : rtl;">

                              فريقنا رهن إشارتكم للإجابة عن أسئلتكم و استفسارتكم على البريد الإلكتروني التالي : 
                              

                                
                            <a href="mailto:contact@support.com" target="_blank" style="color : #2f2b9a; text-decoration: underline;">contact@support.com</a>


                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                    
                    
                    <tr>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;" >&nbsp;</td>
                        <td valign="top" width="540" height="1" style="background: #e5e5e5;"></td>
                        <td valign="top" width="30" height="1" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="text-align: center;">
                                <a href="#" style="font-size: 0px;">
                                      <img src="emails/facebook.png" />
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" style="font-size: 0px;">
                                      <img src="emails/twitter.png" />
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="#" style="font-size: 0px;">
                                      <img src="emails/linkedin.png" />
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" style="font-size: 0px;">
                                      <img src="emails/site_web.png" />
                                </a>

                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" style="text-align: center; font-family: 'Cairo', 'sans-serif'; font-size: 12px; color: #b9bbc0;">
                                جميع الحقوق محفوظة لدى ريكتو بوست 2020

                        </td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="540" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                        <td valign="top" width="30" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
                    </tr>
                    
                
                </table>
            
            </td>
        </tr>
        
        <tr>
            <td valign="top" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" height="30" style="font-size:0%; border:none; line-height:0;">&nbsp;</td>
        </tr>
        
    </table>
</div>